@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to GearGrind's Privacy Policy</p>

<h2>Liability and Legal Stuff</h2>
<p>By using this site, you agree that GearGrind is not responsible for any mechanical failures, loose screws, or unexpected sounds that happen with your product. We are also not liable for any damages or losses — basically, don’t sue us.</p>
